@import './mixin.scss';


$clr-white: #fff;
$clr-black: #000;
$clr-dark-grey: #4B4B4B;
$clr-light-grey: #f8f9fa;
$clr-blue: #25414c;
$clr-cyan: #dce5e2;

$radius: 3.2rem;
$raduis-card: 1.6rem;
$radius-btn: 20rem;

$fz-xxlarge: 5.8rem;
$fz-xlarge: 4.2rem;
$fz-large: 3.2rem;
$fz-xmedium: 2.8rem;
$fz-medium: 2rem;
$fz-small: 1.6rem;
$fz-xsmall: 1.4rem;

$transition-very-fast: 0.1s;
$transition-fast: 0.3s;
$transition-medium: 0.5s;
$transition-slow: 1s;
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);


$shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
$border: 1px solid $clr-black;

    ul{
        list-style: none;
    }

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $clr-black;
}


*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Montserrat';
}

.main{
    .container{
        width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1440px) {
    .main{
        .container{
            width: 1300px;
        }
    }
}

@media (max-width:768px) {
    .main{
        .container{
            width: 678px;
        }
    }
}

@media (max-width:360px) {
    .main{
        .container{
            width: 300px;
        }
    }
}


.title{
    text-align: center;
    font-size: $fz-xlarge;
    font-weight: 500;
    text-transform: capitalize;
}

img{
    &::selection{
        display: none;
    }
}